@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins&family=Plus+Jakarta+Sans&display=swap');
@import "tailwindcss";


:root {
  --background: #f3f3f3;
  --second-background: #e6e6e6;
  --foreground: #2e2e2e;
  --main-color: #323232;
  --secondary-color: #C69C6D;
  --accent-color: #515050;
  --lighter-main-color: #d7ccc8;
  --border-color: #e0d7d2;
  --success-color: #4caf50;
  --error-color: #e53935;
  --card-color: white;
  --font-size: 18px;
  --image-background: #eef0f3;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);

  /* font-family: Open Sans, Helvetica, Roboto, Arial, sans-serif; */
  /* font-family: var(--font-mono), var(--font-sans), Helvetica, sans-serif; */
  /* Font family with fallback */

  font-family: 'Inter', 'Poppins', 'Plus Jakarta Sans', sans-serif;


}

/* .border-cricle::before{
  position: absolute;
  content: "";
  background-color: black;
  scale: 120%;
} */

.border-cricle::before {
  content: '';
  position: absolute;

  z-index: 0;
  width: calc(6rem + 8px);
  height: calc(6rem + 8px);
  -moz-border-radius: 7.5px;
  -webkit-border-radius: 7.5px;
  border-radius: 100%;
  background-color: #000000;
  clip-path: inset(0 0 70% 0);
}


@media (max-width: 40rem) {
  .custom-scroll::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }

  .custom-scroll {
    scrollbar-width: none;

    -ms-overflow-style: none;
  }
}